@import 'variables';
@import 'common';
@import 'rating';


/*
#left {background:rgba(200,0,0,.5);}
#main {background:rgba(00,200,0,.5);}
#content {background:rgba(0,0,200,.5);}
.col-sm-6 {outline:1px dashed red;}
.col-xs-12 {outline:1px dashed blue;}
*/





